.label {
	font-size: 0.8em;
	font-family: sans-serif;	
	text-align: center;
	font-weight: bold;
}


.box {
	stroke: black;
	stroke-width: 2px;
	fill: white;
	}

.link {
	stroke: black;
	stroke-width: 2px;
	fill: rgba(0,0,0,0);
}