body{
	background: whiteSmoke;
	margin: 25px;
}

.label-name {
	font-size: 12px;
	font-family: sans-serif;	
}

.label-title {
	font-size: 10px;
	font-family: sans-serif;	
	font-weight: bold;
	text-align: center;
}

.label-close,
.label-open {
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	stroke: #a51c30;
	fill: #a51c30;
}

.label-open{
	stroke: limegreen;
	fill: limegreen;
}

.box {
	stroke: black;
	stroke-width: 1px;
	fill: white;
	}

.link {
	stroke: black;
	stroke-width: 1px;
	fill: rgba(0,0,0,0);
}

.open-close,
.close-box {
	stroke: black;
	fill: rgba(0,0,0,0);
}